header {
    .hero_nav {
        margin-bottom: 8px;
        border-radius: 0 0 7px 7px;
        box-shadow: 0 8px $secondary;
    }
}

section.homepageBanner {
    background: $light;
    padding: 120px 0 101px;
}

section.banner {
    background: imgUrl('banner.png') right top $light;
    padding: 107px 0;
}

.subtitle {

    span,
    strong {
        color: $dark;
    }
}

.part-cta {
    height: 100%;
    border-radius: 7px;
    overflow: hidden;
    position: relative;

    .cta-content {
        background: $primary;
        border-radius: 8px;
        position: absolute;
        color: $white;
        width: 100%;
        bottom: 0;
        min-height: 90px;
        text-align: center;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 34px 0 18px;

        .cta-icon {
            position: absolute;
            top: -28px;
        }
    }
}

section.part-about {
    padding: 96px 0;

    .animated-image-wrapper {
        min-height: 498px;

        .animated-image {
            position: absolute;
            mix-blend-mode: screen;
        }
    }
}

section.part-brands {
    .brands_slider {
        padding: 36px 0;

        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
        }
    }
}

section.part-deservingHotWater {
    border-radius: 7px;
    overflow: hidden;
    padding: 118px 0;
    background: imgUrl('homepage-section-4.png') right center #edeff6;
    background-size: contain;
}

section.part-getStartedForm {
    border-radius: 9px;
    border: 1px solid $dark-grey;
    background: $white;
    padding: 60px 40px;

    .mainForm {
        .form-input-wrapper {
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.09);
            background: $white;
            display: flex;
            align-items: center;
            padding: 0 24px;

            .icon {
                height: 17px;
                width: 17px;
            }

            .form-control {
                border: none;

                &.input {
                    height: 62px;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        button {
            height: 62px;
        }
    }

    .form-cta {
        height: 359px;
        border-radius: 9px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        .caption {
            position: absolute;
            bottom: 0;
            background: $white;
            border-radius: 16px 16px 0 0;
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.125rem;
            font-weight: 700;
            width: 60%;
            padding: 6px;
        }
    }
}

.accordion-container {
    width: 100%;

    .accordion-card {
        border-bottom: 2px solid #F1F1F1;
        // padding: 0 38px;
        line-height: 1.625;

        @include media-breakpoint-down(xl) {
            margin: 30px 24px;
        }

        @include media-breakpoint-down(lg) {
            margin: 25px 16px;
            padding: 24px;
        }

        @include media-breakpoint-down(sm) {
            margin: 20px 8px;
            padding: 24px 16px;
        }

        .accordion-head {
            cursor: pointer;
            font-weight: 500;
            color: $grey;
            transition: 0.2s all;
            font-size: 15rem;
            letter-spacing: -0.02em;
            padding: 35px 38px;

            @include media-breakpoint-up(md) {
                font-size: 1.5rem; // 24px
            }

            .plusminus {
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // height: 44px;
                // width: 44px;
                // border: 3px solid $secondary;
                // border-radius: 50%;
            }

            &.active {
                background: $primary;
                color: $white;

                .plusminus {
                    color: $white;
                }
            }
        }

        .accordion-body {
            display: none;
            font-weight: 500;
            line-height: 2;
            padding: 35px 38px;
            letter-spacing: -0.02em;
            color: $grey;
            font-size: 1.125rem;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }

            a {
                color: $white !important;
                text-decoration: underline;
            }
        }
    }

    &.active {
        display: block;
    }
}
