header {
    .hero_nav {
        margin-bottom: 8px;
        border-radius: 0 0 7px 7px;
        box-shadow: 0 8px $secondary;
    }
}

section.homepageBanner {
    background: $light;
    padding: 120px 0 101px;

    .cta {
        height: 100%;
        border-radius: 7px;
        overflow: hidden;
        position: relative;

        .cta-content {
            background: $primary;
            border-radius: 8px;
            position: absolute;
            color: $white;
            width: 100%;
            bottom: 0;
            min-height: 90px;
            text-align: center;
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 34px 0 18px;

            .cta-icon {
                position: absolute;
                top: -28px;
            }
        }
    }
}

section.banner {
    background: imgUrl('banner.png') right top $light;
    padding: 107px 0;
}

section.part-about {
    padding: 96px 0;

    .animated-image-wrapper {
        min-height: 498px;

        .animated-image {
            position: absolute;
            mix-blend-mode: screen;
        }
    }
}

section.part-brands {
    .brands_slider {
        padding: 36px 0;

        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
        }
    }
}

section.part-deservingHotWater {
    border-radius: 7px;
    overflow: hidden;
    padding: 118px 0;
    background: imgUrl('homepage-section-4.png') right center #edeff6;
    background-size: contain;
}